.icon-meituan {
    display: inline-block;
    font-size: 100px;
    color: #2bb8aa;
}
.icon-tui {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-hook {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-money {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-food {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-fun {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-hotel {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-tour {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-movie {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-top {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-ask {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-pen {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-write {
    display: inline-block;
    font-size: 30px;
    color: #2bb8aa;
}
.icon-star {
    display: inline-block;
    font-size: 12px;
    color: #FD8119;
}
.icon-fire {
    display: inline-block;
    font-size: 12px;
    color: #F1463B;
}
.icon-area {
    display: inline-block;
    font-size: 12px;
    color: #F1463B;
}
.icon-business {
    display: inline-block;
    font-size: 12px;
    color: #F1463B;
}
